<%= form_for(@municipio) do |f| %>
  <% if @municipio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@municipio.errors.count, "error") %> prohibited this municipio from being saved:</h2>

      <ul>
      <% @municipio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :macro %><br />
    <%= f.collection_select(:macro_id, Macro.all, :id, :codigo, :prompt => true) %>
  </div>
  <div class="field">
    <%= f.label :gerencia %><br />
    <%= f.collection_select(:gerencia_id, Gerencia.all, :id, :codigo, :prompt => true) %>
  </div>
  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :cod_geo %><br />
    <%= f.text_field :cod_geo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
