<%= form_for(@macro) do |f| %>
  <% if @macro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@macro.errors.count, "error") %> prohibited this macro from being saved:</h2>

      <ul>
      <% @macro.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo %><br />
    <%= f.text_field :codigo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
